@using Dashboard.Models.Enums
@model ManageCustomerModel

@{
    ViewData["Title"] = "Edit";
}

<h2>@Model.Customer.Name</h2>
<hr />
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-md-4 lef">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Customer.Id" />

            <div class="form-group">
                <label asp-for="Customer.Name"></label>
                <input asp-for="Customer.Name" class="form-control" />
                <span asp-validation-for="Customer.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.Phone"></label>
                <input asp-for="Customer.Phone" class="form-control" />
                <span asp-validation-for="Customer.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.Email"></label>
                <input asp-for="Customer.Email" class="form-control" />
                <span asp-validation-for="Customer.Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Customer.Address"></label>
                <input asp-for="Customer.Address" class="form-control" />
                <span asp-validation-for="Customer.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.Att"></label>
                <input asp-for="Customer.Att" class="form-control" />
                <span asp-validation-for="Customer.Att" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.City"></label>
                <input asp-for="Customer.City" class="form-control" />
                <span asp-validation-for="Customer.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.Zip"></label>
                <input asp-for="Customer.Zip" class="form-control" />
                <span asp-validation-for="Customer.Zip" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Customer.VATNumber"></label>
                <input asp-for="Customer.VATNumber" class="form-control" />
                <span asp-validation-for="Customer.VATNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
                @if (User.IsInRole(Roles.Admin))
                {
                    <a onclick="return confirm('Are you sure you want to delete this?')" asp-controller="Customers" asp-action="Delete" asp-route-customerId="@Model.Customer.Id" class="btn btn-danger">Delete</a>
                }
            </div>
        </form>
    </div>
    <div class="col-md-4 left">

        <h3>Users:</h3>
        @foreach (var user in Model.Customer.Users)
        {
            <div>@user.FullName  (@user.Email) </div>
        }
        <br />
        @if (User.IsInRole(Roles.Admin))
        {
            <div class="form-group">
                Add User

                <select asp-for="@Model.User.Id">
                    @foreach (var user in Model.Users)
                    {
                        <option value="@user.Id">@user.FullName (@user.UserName)</option>
                    }
                </select>
            </div>
        }
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}